@import "../styles/_variables.scss";
@import "../styles/_keyframe-animations.scss";

@keyframes tiptap-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes tiptap-slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.ProseMirror {
  animation: tiptap-fadeIn 1.5s ease;
}
